var eventColor = function (param1,param2) {
 var hascase=false;
 console.log("oitem----", param1.id)
//  for (var k = 0; k < param2.length; k++) {
//    console.log("listed", param2[k].id)
//    console.log("k", k)
//    if (param2.id == param1.id) {
//      param2.splice(k, 1);
//      hascase=false;
//      console.log("this.data.testlisted", param2);
//      break;
//    }
//    console.log("this.data.testlisted", param2)
//  }
 param2.forEach(function(item1){
   if (item1.id == param1.id){
     return hascase=true;
   }
 })
 return hascase ? "case-sele" : "";
  // if(hascase){
  //   return "case-sele"
  // }else{
  //   return 'cur'
  // }
  
}
var inArray = function (arr, item) {
  // console.log(arr.indexOf);
  if (arr.indexOf(item) == -1) {
    return false;
  } else {
    return true;
  }
}
module.exports = {
  eventColor: eventColor,
  inArray: inArray
}

