var formatTime = function (date, formater) {
  formater = formater || "yyyy-MM-dd hh:mm:ss";
  date = getDate(date);
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()
  return formater.replace("yyyy", year).replace("MM", month).replace("dd", day).replace("hh", hour).replace("mm", minute).replace("ss", second);
}

var formatNumber = function (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
var featureFilter = function (param) {
  param = param || "";
  return param.split(",");
}
var genderFilter = function (param) {
  if (param == 1) {
    return "男";
  } else if (param == 2) {
    return "女";
  } else {
    return "其他";
  }
}
var eventColor=function(param){
  var color="#999999;";
  switch(param){
    case "appShare":color="";break;
    case "appOpen": color = "#fd8062;"; break;
    case "caseLike": color = "#ffca7f;"; break;
    case "photoUpload": color = "#4cb0ff;"; break;
    case "informationSubmit": color = "#9febc6;"; break;
    case "appQuit": color = "#bcb4f7"; break;
    default:
  }
  return color;
}
module.exports = {
  formatTime: formatTime,
  featureFilter: featureFilter,
  genderFilter: genderFilter,
  eventColor: eventColor
}